{
  "plugins": [
    [
      "module-resolver", {
        "root": ["./"],
        "alias": {
          "components": "./src/components",
          "screens": "./src/screens",
          "styles": "./src/styles",
          "hooks": "./src/hooks"
        }
      }
    ]
  ]
}