@use 'src/styles/colors';
@use 'src/styles/fonts';

.card {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline-end: 24px;
  margin-inline-start: 24px;
  cursor: pointer;

  img {
   width: 100%;
   height: 170px;
  }

  figcaption {
    display: block;
    margin-top: 8px;
    height: 36px;
    text-align: center;
    font-weight: 700;
    color: colors.$darkBlue;
    font-size: fonts.$small;
    overflow: hidden;
  }
}