@use 'src/styles/fonts';
@use 'src/styles/colors';
@use 'src/styles/breakpoints';

.header {
  width: 100%;

  h1 {
    text-transform: uppercase;
    font-weight: 700;
    color: colors.$darkBlue;

    @media (max-width: breakpoints.$mobile) {
      font-size: fonts.$large;
    }

    span {
      color: colors.$green;
    }
  }
}