@use 'src/styles/colors';
@use 'src/styles/fonts';

.search-input {
  color: colors.$green;
  border-bottom: colors.$green 1px solid;
  width: fit-content;
  display: flex;

  .right-icon {
    margin: 0 4px;
    line-height: 100%;
  }

  input {
    flex: 1;
    width: 240px;
    align-self: stretch;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: fonts.$regular;
    color: colors.$neutral;

    &::placeholder {
      text-transform: uppercase;
      color:colors.$green
    }
  }
}