body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
  list-style: none;
  padding: unset;
  margin: unset;
}